# Django Settings
DEBUG=0
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# Database Settings
DB_ENGINE=django.db.backends.mysql
DB_NAME=rems_db
DB_USER=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=3306

# JWT Settings
ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_DAYS=1
